<div class="container">
  <div class="navbar navbar-dark">
    <ul class="nav nav-pills">
      <li class="nav-item ">
        <a
          class="nav-link"
          [routerLink]="['/list']"
          routerLinkActive="router-link-active"
          >List</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/create']"
          routerLinkActive="router-link-active"
          >Create</a
        >
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>

